.button{
    background: #121212;
    color: #34C94B;
    border-radius: 12px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    padding: 10px, 16px;
    margin: 14px;
    height: 47px;
    width: 170px;
    font-size: medium;
}