.Hero{
    height: 270px;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;

}

.HeroTitle{
    display: flex;
    flex-direction: column;
    font-weight: 32px;
    justify-content: center;
    font-family:"Poppins";
    align-items: center;
    line-height: 48px;
    font-weight: 600;
    margin: 20px;
}

.HeroTitle > h1{
    color: #ffff;
    /* top: 556px;
    height: 48px; */
    font-size: 32px;}

.HeroImage{
    Top:103px;
    Left:914px;
    height: 212px;
    width: 212px;
}